.container-logo {
    max-width: 360px;
    padding: 70px;
}

.container-logo h1 {
    color: #ffffff;
    font-weight: bold;
}

.home-logo {
    max-width: 190px;
}

.btn-home {
    width: 200px;
    color: black;
}

.img-google {
    max-width: 31px;
}

.img-facebook {
    max-width: 45px;
}

.img-instagram {
    max-width: 31px;
}

.img-twitter {
    max-width: 31px;
}

.img-google:hover {
    filter: invert(100%);
}

.img-facebook:hover {
    filter: invert(100%);
}

.img-instagram:hover {
    filter: invert(100%);
}

.img-twitter:hover {
    filter: invert(100%);
}