.container-logo {
    max-width: 360px;
    padding: 70px;
}

.container-logo h1 {
    color: #ffffff;
    font-weight: bold;
}

.home-logo {
    max-width: 190px;
}

.btn-home {
    width: 200px;
    color: black;
}